body{
    height: 100vh;
    font-size: 10px;
    align-items: center;
    background: linear-gradient(135deg, #f8f5f6, #dbd8d9);
}
.alert{
    background: linear-gradient(135deg, #ffb4b4, #f3c3db);
}
.alert h6{
    color: white;
}
.header svg{
    margin-left: 60%;
}
.containe{
    margin-top: 5px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0, 0, 0.2);
}
.title{
    font-size: 25px;
    font-weight: 500;
}
.title::after{
    content: '';
    display: block;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #ce0033, #ee7795);
}
.containe .title{
    font-size: 25px;
    font-weight: 500;
}
.containe .title::after{
    content: '';
    display: block;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #ce0033, #ee7795);
}
.btn-ajout{
     color: #FFF;
     justify-content: center;
     font-size: 10px;
     font-weight: 500;
     border-radius: 5px;
     background: linear-gradient(135deg, #ce0033, #ee7795);
}
.btn-edit{
     height: 70%;
     width: 30%;
     color: #FFF;
     justify-content: center;
     font-size: 10px;
     font-weight: 500;
     border-radius: 5px;
     background: linear-gradient(135deg, #ce0033, #ee7795);
}
.btn-save{
    height: 30px;
    color: #FFF;
    justify-content: center;
    margin-left: 70px;
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ce0033, #ee7795);
}
form .form-group input{
    font-size: 10px;
}
.form-group input:focus,
.form-group input:invalid{
    border-color: #ce0033;
}
.form-group textarea:focus,
.form-group textarea:invalid{
    border-color: #ce0033;
}
.carte{
    line-height: 1;
    flex-wrap: wrap;
}
.card{
    box-shadow: 0 0 20px rgb(0, 0, 0.2);
    width: 80%;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    display: block;
}
input{
    border: 10px solid red;
}
select option{
    font-size: 10px;
}
.profil{
    width: 100%;
    display: flex;
    margin-left: 2Opx;
}
.photo{
    width: 40px;
    height: 40px;
}
.profil img{
    width: 20px;
    height: 20px;
}
.profil-position{
    margin: 0;
    text-align: right;
}
.profil-body{
    font-weight: 300;
    opacity: 0.7;
    margin-bottom: 0;
}
.profil-main h6{
    font-size: 15px;
}
.cacher{
    display: none;
}
.liste{
    background-color: #ce0033;
    color: white;
}





